---
import ProjectCard from "@components/ProjectCard.astro";
import { getCollection } from "astro:content";
import HorizontalCard from "../components/HorizontalCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);

const projects = await getCollection("project");
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-5xl font-bold">👋 Hola, soy Malandriner</div>
    <div class="text-3xl py-3 font-bold">Developer y más cosas</div>
    <div class="py-2">
      <text class="text-lg">
        Aquí viene un texto de presentación estupendo
      </text>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Lo último del blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Mis proyectos</div>
  </div>

  {
    projects.map((project) => (
      <>
        <ProjectCard
          title={project.data.title}
          desc={project.data.description}
          url={`projects/${project.slug}`}
          badge={project.data.badge}
          stack={project.data.stack}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
